@import '@fontsource/manrope';
@import '@fontsource/jetbrains-mono';
@import "https://unpkg.com/open-props/animations.min.css";
@import "https://unpkg.com/open-props/easings.min.css"; 

:root,
:root.light{
	--bg-color: #F0F5F9;
	--text-color:#1E2022;
}
:root.dark{
	--bg-color: #1E2022;
	--text-color: #F0F5F9;
}




html,
body {
	height: 100%;
  word-break: keep-all;
	--font-sans: 'Manrope', sans-serif;
	--font-mono: 'JetBrains Mono', monospace;
	background-color: var(--bg-color);
	color:var(--text-color);
  font-size: 24px;
}


img {
	border-radius: var(--radius-3);
	margin-top:3%;
	margin-bottom:3%;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

dl {
  list-style: none;
  padding: 0;
}

li {
	padding-inline-start: 0;
}


button {
  /*  
    using `reverse` means we dont have to put 
    opacity: 0 or scale(.8) anywhere  
  */
  animation: 
    var(--animation-scale-down) reverse,
    var(--animation-fade-out) reverse;
  animation-timing-function: var(--ease-squish-5);
  animation-duration: 1s;
  
}

.theme-btn{
	width:30px;
	border-color:var(--text-color);
	background-color:var(--bg-color);
	color:var(--text-color);
}
h1,h2,h3,h4,h5,h6{
  
  padding-top: 3%;
}
.content{
  margin-right:5%;
  margin-left:5%;
  line-height:50px;
}


/* Tooltip container */
.tooltip {
	text-decoration: underline;
	/*color:rgb(86, 101, 116);*/
    position: relative;
    cursor: pointer;
}

/* Tooltip text */
.tooltip::after {
    content: attr(data-tooltip);
    visibility: hidden;
    width: max-content;
    font-weight: bolder;
    background-color: var(--text-color);
    color: var(--bg-color);
	  font-size:18px;
    text-align: center;
    border-radius: 3%;
    padding: 3px 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip:hover::after {
    visibility: visible;
    opacity: 0.8;
}

.demo{
    font-size: xx-large ;
    height:100px;
    width:200px;
    margin:5%;
    border-radius: 5%;
    background-color: rgb(255, 123, 123);
    color: rgb(255, 255, 255);
}
dfn{
	font-style: normal;
	color:rgb(86, 101, 116);
}
